.contact {
  height: 40vh;
  background-color: #042D40;
  background: -moz-linear-gradient(to right bottom, #042d40, #0d3d53, #174d67, #205e7c, #2a7091);
  background: -webkit-linear-gradient(to right bottom, #042d40, #0d3d53, #174d67, #205e7c, #2a7091);
  background: linear-gradient(to right bottom, #042d40, #0d3d53, #174d67, #205e7c, #2a7091);
  text-align: center;
}
@media (max-width: 600px) {
  .contact {
    height: 75vh;
  }
}
.contact .container h2 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  color: #fff;
  letter-spacing: 1px;
}
.contact .container h5 {
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  color: #fff;
  margin-bottom: 2.5rem;
  line-height: 27px;
  letter-spacing: 1.5px;
}
.contact .container input {
  width: 20vw;
  border-radius: 5px;
  padding: 10px;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  color: #042D40;
}
@media (max-width: 767px) {
  .contact .container input {
    width: 80vw;
    margin-bottom: 5%;
  }
}
.contact .container .btn-submit {
  border-color: #fff;
  padding: 10px 30px;
  color: #fff;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  margin-left: 10px;
}
